<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove"/>

    <application


        android:allowBackup="true"
        android:icon="@drawable/ic_icon_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity  android:name=".view.MainMenu.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainMenu.MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.SudokuActivity"
            android:screenOrientation="portrait"/>
        <meta-data android:name="com.startapp.sdk.208583533" android:value="startapp_app_id" />
    </application>

</manifest>